:root {
    --white: #F2F2F2;
    --accent: #dca530;
    --hover: #fcc650;
    --dark: #181413;
    --pop: #684551;
    --light-grey: #e6e6e6;
}

/* Universal Styles */

body {
    background-color: var(--white);
    font: 1rem/1.5 "Lato", Arial, sans-serif;
}

/* Utility Classes */

.inner-container {
    max-width: 1024px;
    margin: auto;
}

.sr-only {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* Typography */

h1 {
    font-family: 'Hurricane', cursive;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
}

/* Header */
.sub-title {
    text-transform: uppercase;
    opacity: 70%;
}

header {
    background-color: var(--pop);
    color: var(--white);
}

header p {
    text-align: center;
    color: var(--white);
}

.sub-heading {
    display: flex;
    justify-content: space-around;
}

.menu {
    display: flex;
    line-height: 3;
}


.signin {
    display: flex;
    gap: 0.7rem;
}

header button {
    background-color: var(--accent);
    border: none;
    border-radius: 0.2rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
}

.signin p  {
    line-height: 2.5;
}

/* Hero Banner */
.hero-banner {
    background: url('../img/hero.webp') center / cover no-repeat;
    height: 75vh;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--white);
}

.banner-text h2 {
    font-size: 3.3rem;
    font-weight: 100;
    opacity: 60%;
    line-height: 1;
}

.banner-text span {
    margin-left: 3rem;
}

.banner-text p {
    width: 27rem;
    margin: 2rem 0;
    font-size: 1.2rem;
    opacity: 90%;
}

.banner-text a {
    display: inline-block;
    background-color: var(--accent);
    border-radius: 0.2rem;
    padding: 0.3rem 1rem;
    text-decoration: none;
    color: var(--dark);
    margin-bottom: 0.7rem;
    margin-left: 7rem;
}

/* Parallax */
.parallax {
    background: url('../img/splash.webp') center / cover no-repeat fixed;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 33rem;
}

.parallax-text {
    width: 30rem;
}

.parallax-text h2 {
    font-weight: 300;
    font-size: 2rem;
}

.parallax-text p {
    margin-top: 1rem;
}

/* Horizontal Scroll */

.horizontal h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    opacity: 40%;
    padding-top: 4rem;
}

.card-wrapper {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 3rem;
    overflow-x: scroll;
    scrollbar-color: var(--accent) var(--light-grey);
    scrollbar-width: thin;
}

.horizontal {
    background-color: var(--light-grey)
}

.cards {
    border: 0.063rem solid #ddd;
    border-radius: 0.2rem;
    flex: 0 0 23rem;
    margin: 2rem 0.8rem; 
    gap: 1rem;
    padding: 0.7rem 1rem;
    background-color: var(--white);
}

.cards-body {
    text-align: center;
}

.description {
    /* Sets the button to be at the bottom of the card */
    height: 6.25rem;
    margin-bottom: 1rem;
}

.category {
    text-transform: uppercase;
    margin-top: 0.5rem;
    color: var(--pop);
    font-size: 0.8rem;
    font-weight: 700;
}

.cards-body a {
    display: inline-block;
    background-color: var(--accent);
    border-radius: 0.2rem;
    padding: 0.3rem 4rem;
    text-decoration: none;
    color: var(--dark);
    margin-bottom: 0.7rem;
}

.cards-body h3 {
    font-weight: 300;
    font-size: 2rem;
}

/* Footer */

footer {
    background-color: var(--pop);
    color: var(--white);
    padding: 3rem;
}

footer h2 {
    text-align: center;
    margin-right: 37rem;
    font-weight: 300;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-wrap: wrap;
}

.news-letter {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.news-letter p {
    width: 25rem;
}

.email {
    width: 30rem;
}


input[type=submit] {
    background-color: var(--accent);
    border: none;
    padding-bottom: 0.2rem;
    cursor: pointer;
}

.disclaimer {
    text-align: center;
}

.disclaimer p {
    margin-top: 1rem;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18rem;
    margin: 2rem 0 5rem 0;
}

.footer-nav h3 {
    color: var(--accent);
    font-weight: 300;
    text-transform: uppercase;
}

.footer-nav p {
    margin-top: 1rem;
}

@media screen and (max-width: 50rem) {
    .sub-heading {
        display: flex;
        justify-content: space-between;
    }

    .parallax {
        background: url('../img/splash-mobile.webp') center / cover no-repeat fixed;
        height: 130vh;
    }
  
    .parallax-text h2 {
        font-weight: 300;
        font-size: 2rem;
    }
    
    .news-letter {
        display: block;
    }

    footer h2 {
        text-align: center;
        margin: 0;
    }

    .news-letter p {
        margin-bottom: 1rem;
    }

    .footer-nav {
        display: block;
        gap: 0;
        margin: 0;
    }

    .footer-nav h3 {
        margin-top: 1rem;
    }
}